*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100%;
}
.download{
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 10rem;
    font-size: 2rem;
}
.down-btn{
    margin-top: 1rem;
    border: 0;
    width: 10rem;
    font-size: 18px;
    padding: 1rem;
    background-color: rgba(0, 128, 0, 0.598);
    border-radius: 20px;

}
@media (max-width: 576px) {
    .App{
        min-width:500px;
    }
    .download{
        margin-top: 15rem;
        margin-bottom: 25.5rem;
    
    }

}